
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');


h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 100px;
  font-weight: 5000;
}

main{
  max-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
}
p{
  font-family: 'JetBrains Mono', monospace;
}